<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">


		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<title>HELLO</title>
</head>
<style>

.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;
}
.input *:not(span):focus + span {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.input span {
  -webkit-transform: scale(0.993, 0.94);
          transform: scale(0.993, 0.94);
  transition: opacity .25s, -webkit-transform .5s;
  transition: transform .5s, opacity .25s;
  transition: transform .5s, opacity .25s, -webkit-transform .5s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,  -3px 3px 30px #10abff;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1em;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 12em;
}

::-webkit-input-placeholder {
  color: #cbd0d5;
}

:-ms-input-placeholder {
  color: #cbd0d5;
}

::-ms-input-placeholder {
  color: #cbd0d5;
}

::placeholder {
  color: #cbd0d5;
}

html::after {
  content: '';
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

</style>
<body bgcolor="white">
<script>
  function hey()
  {
    var a = document.getElementById("kkk").value;
    document.getElementById("heyyy").innerHTML="HEY! "+a
    document.getElementById("heyy").innerHTML="CLICK ON ANALYZE TWITTER"
  }
</script>
	<br><br><br>
	<center>
<strong><h1 class="w3-xxxlarge">ENTER THE USERNAME</h1></strong>
<h1 class="w3-xxxlarge">MAKE SURE YOUR ACCOUNT IS NOT PROTECTED</h1>
<form method="POST" action="/submit">
	<span class="input">
		<input type="text" name="kartik" placeholder="USERNAME" id="kkk"></input>
		<span></span>
</span>
<br><br>	
<input onclick="hey()" type="submit" class="pure-button"/></input>
</form>
<h2 id="heyyy"></h2>
<h3 id="heyy"></h3>
<br><br>
<a href="/main">
   <button class="pure-button">ANALYZE TWITTER</button>
</a>
</center>
</body>
</html>