<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

		
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

	<title></title>
</head>
<body bgcolor="silver">
<br><br><br><br><br><br>
<center>
	<h1>OOPS! SOME ERROR HERE</h1>
	<h1>EITHER OF THE TWO</h1> 
	<br><br>
	<h2>1. USERNAME YOU ENTERED IS INCORRECT</h2>
	<h2>2. USER YOU'RE TRYING TO ANALYSE DOES NOT WANT TO SHARE HIS/HER INFORMATION</h2>
</center>



<br><br>
<center>
<a href="/submit">
  <button class="pure-button">ANALYZE ANOTHER ACCOUNT?</button>
</a></center>
</body>
</html>